:root{
  --bgWhite: #fafafa;
  --aquamarine: #00d4c8;
  --sfYellow: #f5e400;
  --navy: #012c3d;
  --iceBlue: #dffffd;
  --vlBlue: #e6ebf1;
  --font-type: 'Montserrat', sans-serif;
  --shadow-aquamarine: 0 10px 10px 0 rgba(0, 212, 200, 0.16);
  --shadow-sfYellow: 0 10px 10px 0 rgba(245, 228, 0, 0.16);
  --shadow-vlBlue: 0 1px 0 0 rgb(230, 235, 241);
  --font-bold: 700;
  --font-rgl: 400;
  --font-lgt: 300;
  --btn-radius: 6px;
  --lg-grid: "col1 col2 col3 col4 col5 col6 col7 col8 col9 col10 col11 col12";
  --lg-grid-cols: repeat(12, calc(((100vw - 240px) / 12)));
  --md-grid-cols: repeat(12, calc(((100vw - 60px) / 12)));
  --md-grid: "col1 col2 col3 col4 col5 col6 col7 col8 col9 col10 col11 col12";
  --sm-grid-cols: repeat(4, calc((100vw - 40px) / 4));
  --sm-grid: "col1 col2 col3 col4";
}

body {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: var(--font-type);
  font-size: 2.2em;
  font-weight: var(--font-bold);
  color: var(--navy);
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: var(--font-type);
  font-size: 2em;
  font-weight: var(--font-bold);
  color: var(--navy);
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: var(--font-type);
  font-size: 1.2em;
  font-weight: var(--font-bold);
  color: var(--navy);
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: var(--font-type);
  font-size: 16px;
  font-weight: var(--font-bold);
  color: var(--aquamarine);
  line-height: 23px;
  margin: 0;
  padding: 0;
}

p {
  font-family: var(--font-type);
  font-weight: var(--font-rgl);
  font-size: 16px;
  color: var(--navy);
  line-height: 26px;
  margin: 0;
  padding: 0;
}

p.white {
  color: #ffffff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header{
  width: calc(100vw - 240px);
  height: 70px;
  background-color: var(--bgWhite);
  box-shadow: var(--shadow-vlBlue);
  margin: 0;
  padding: 0 120px 0 120px;
  position: fixed;justify-content: center;
  z-index: 9;
}

button {
  min-width: 100px;
  height: 50px;
  font-family: var(--font-type);
  font-size: .9em;
  font-weight: var(--font-bold);
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: var(--btn-radius);
}

button > img {
  width: 15px;
  height: 18px;
  margin-right: 8px;
}

button.primary {
  background-color: var(--aquamarine);
  color: var(--bgWhite);
  box-shadow: var(--shadow-aquamarine);
}

button.secondary {
  background-color: var(--sfYellow);
  color: var(--aquamarine);
  box-shadow: var(--shadow-sfYellow);
}

button.tertiary {
  background-color: var(--iceBlue);
  color: var(--aquamarine);
  font-size: 12px;
  height: 35px;
}

button.withIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-family: var(--font-type);
  font-size: 12px;
  font-weight: var(--font-bold);
  color: var(--navy);
  text-decoration: none;
}

a.active {
  color: var(--aquamarine);
}

a.yellow {
  color: var(--sfYellow);
}

/* UTILITY CLASSES */
.main-grid {
  display: grid;
  grid-template-columns: var(--lg-grid-cols);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: var(--lg-grid);
  justify-content: center;
  padding-top: 70px;
  margin-bottom: 150px;
}

.grid-right-hg {
  grid-column: col6-end / col12-end;
}

.grid-right {
  grid-column: col7-end / col12-end;
}

.grid-left-hg {
  grid-column: col1-start / col6-end;
}

.grid-left {
  grid-column: col1-start / col6-start;
}

.grid-top {
  grid-row: 1 / 2;
}

.grid-full {
  grid-column: col1-start / col12-end;
}

.text-yellow {
  color: var(--sfYellow);
}

.text-white {
  color: var(--bgWhite);
}

.text-aquamarine {
  color: var(--aquamarine);
}

.text-navy {
  color: var(--navy);
}

.round-border {
  border-radius: 6px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--bgWhite);
  opacity: .4;
}

.text-center {
  text-align: center;
}

.mb-10{
  margin-bottom: 10px;
}

.mt-10{
  margin-top: 10px;
}
.mb-15{
  margin-bottom: 15px;
}

.mt-15{
  margin-top: 15px;
}
.mb-25{
  margin-bottom: 25px;
}

.mt-25{
  margin-top: 25px;
}

.mb-40{
  margin-bottom: 40px;
}

.mt-40{
  margin-top: 40px;
}
/* /UTILITY CLASSES */

.header {
  display: grid;
  grid-template-columns: 100px auto;
  justify-items: flex-start;
  align-items: center;
}

.header-logo {
  width: 98px;
  height: 30px;
}

.header-nav {
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-nav-item {
  list-style: none;
  margin-right: 60px;
}

.hero {
  grid-column: col1-start / col6-end;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
}

.hero > img {
  position: absolute;
  top: 7vh;
  right: 0;
  width: 40vw;
  height: auto;
  z-index: 1;
  margin-top: 10px;
}

.hero-side > p {
  margin-bottom: 70px;
}

.benefits {
  grid-row: 2 / 3;
}

.benefits-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.benefits-title > h2 {
  margin-top: 100px;
}

.benefits-bullets {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

.benefits-bullet {
  width: 200px;
  height: 100%;
  padding: 10px 20px;
}

.benefits-bullet > p {
  font-size: .9em;
  line-height: 20px;
}

.features {
  grid-row: 3 / 4;
}

.features-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.features-title > h2 {
  margin-top: 80px;
}

.features-title > h4 {
  margin-bottom: 80px;
}

.features-item {
  display: grid;
  grid-template-columns: var(--lg-grid-cols);
  grid-template-rows: 250px 250px;
  grid-template-areas: var(--lg-grid);
  align-items: center;
  gap: 80px 0;
}

.testimonials {
  grid-row: 4 / 5;
}

.testimonials-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.testimonials-title > h4 {
  margin-top: 120px;
}

.testimonials-title > h2 {
  width: 45vw;
  text-align: center;
}

.testimonials-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
}

.testimonials-item {
  width: 250px;
  padding: 30px 30px;
  border: 1px solid var(--vlBlue);
}

.testimonials-author {
  display: flex;
  align-items: center;
}

.testimonials-author > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.testimonials-author-i > h4 {
  font-size: .9em;
}

.testimonials-content > p {
  font-size: .9em;
  line-height: 22px;
}

.testimonials-content > p::before {
  content: '“';
  font-weight: var(--font-bold);
  font-size: 20px;
  position: relative;
  top: 0;
  left: -10px;
}

.footer {
  display: grid;
  grid-template-columns: var(--lg-grid-cols);
  grid-template-areas: var(--lg-grid);
  padding: 40px 120px;
  width: calc(100% - 240px);
  grid-template-rows: 180px 10px 60px;
  background-color: var(--navy);
  align-items: center;
}

.footer-cta {
  justify-self: flex-end;
}

.footer-social > a{
  color: var(--bgWhite);
  font-size: 30px;
  margin-right: 30px;
  transition: .2s ease-in-out;
}

.footer-social > a:hover {
  color: var(--aquamarine);
}

.footer-rights {
  font-size: 12px;
  justify-self: flex-end;
}

/* MEDIA QUERIES */

  /* SMALL DEVICES BREAKPOINT */
  @media (max-width: 575.98px) {
    h1 {
      font-size: 1.7em;
    }

    h2 {
      font-size: 1.5em;
    }

    h4 {
      font-size: .9em;
    }

    .grid-right-hg,
    .grid-right,
    .grid-left-hg,
    .grid-left {
      grid-column: col1-start / col4-end;
    }

    .main-grid {
      grid-template-columns: var(--sm-grid-cols);
      grid-template-areas: var(--sm-grid);
      justify-content: center;
      padding: 0 20px;
      margin-bottom: 80px;
    }

    .hero {
      grid-column: col1-start / col4-end;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .hero > img {
      position: unset;
      width: 100vw;
      margin-top: 50px;
    }

    .hero-side > p {
      margin-bottom: 40px;
    }
    
    .hero-side > h4 {
      margin-top: 90px;
    }

    .benefits-title,
    .features-title,
    .testimonials-title {
      align-items: center;
    }

    .benefits-title > h4 {
      text-align: center;
    }

    .benefits-bullets {
      margin-top: 40px;
      flex-direction: column;
      align-items: center;
    }

    .benefits-bullet {
      margin-bottom: 20px;
    }
    
    .benefits-bullet > img {
      height: 150px;;
    }

    .features-item {
      grid-template-columns: var(--sm-grid-cols);
      grid-template-areas: var(--sm-grid);
      grid-template-rows: unset;
      justify-content: center;
      gap: 50px 0;
    }

    .features-title > h2 {
      text-align: center;
    }

    .features-title > h4 {
      text-align: center;
      margin-bottom: 50px;
    }

    .testimonials-title > h2 {
      text-align: center;
      width: 100%;
    }

    .testimonials-items {
      flex-direction: column;
      margin-top: 40px;
    }

    .testimonials-item {
      width: 80%;
      margin-bottom: 20px;
    }

    .footer {
      grid-template-columns: var(--sm-grid-cols);
      grid-template-areas: var(--sm-grid);
      padding: 40px 20px;
      width: calc(100% - 40px);
      grid-template-rows: unset;
    }

    .footer-info > h4 {
      font-size: 1.5em;
      line-height: 1.2em;
    }

    .footer-cta {
      margin: 40px 0;
      justify-self: start;
    }

    .footer-social {
      margin: 40px 0;
      display: flex;
      justify-content: center;
    }

    .footer-social > a:last-child {
      margin: 0;
    }

    .footer-rights {
      text-align: center;
      justify-self: center;
      line-height: 1.4em;
    }
  }

  @media (min-width: 576px) and (max-width: 991.98px) {
    h1 {
      font-size: 1.7em;
    }

    h2 {
      font-size: 1.5em;
    }

    h4 {
      font-size: .9em;
    }

    .main-grid {
      grid-template-columns: var(--md-grid-cols);
      grid-template-areas: var(--md-grid);
      padding-top: 90px;
      margin-bottom: 100px;
    }

    .hero > img {
      width: 50vw;
      height: auto;
      top: 25vh;
    }

    .hero-side > p {
      margin-bottom:40px;
    }

    .benefits-title > h2 {
      margin-top: 40px;
    }

    .benefits-bullets,
    .testimonials-items {
      margin-top: 40px;
    }

    .features-item {
      grid-template-columns: var(--md-grid-cols);
      grid-template-areas: var(--md-grid);
    }

    .testimonials-items {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .testimonials-item {
      width: 400px;
      margin-bottom: 20px;
    }

    .footer {
      grid-template-columns: var(--md-grid-cols);
      grid-template-areas: var(--md-grid);
      width: calc(100% - 40px);
      padding: 40px 20px;
    }
  }
/* /MEDIA QUERIES */
